alias ll='ls -al'
alias cdh='cd ~/.homesick/repos/dotfiles/home'
alias hup='cdh && sh ~/.homesick/repos/dotfiles/commit.sh && source ~/.zshrc && cd - && clear'
alias ls='ls -Ga'
alias greps='ps aux | grep'
alias git_prune='git branch -r | awk '{print $1}' | egrep -v -f /dev/fd/0 <(git
branch -vv | grep origin) | awk '{print $1}' | xargs git branch -d'
alias git-ci='git commit --amend --message "$(git log --format='%s' -n 1)" --message "--skip-ci" && git push'
alias vi='vim'
alias git_branch_clean='git branch --merged master | grep -v "\* master" | xargs
-n 1 git branch -d'
ags () { ag -l "$1" | xargs perl -pi -e "s/$1/$2/g" }
alias j=z
rake() { if [ -f bin/rake ]; then bin/rake "$@"; else bundle exec rake "$@"; fi }
rails() { if [ -f bin/rails ]; then bin/rails "$@"; else bundle exec rails "$@"; fi }

